.layout{ width:1186px; margin:0 auto; overflow:hidden; position: relative;z-index: 999}

.cont{ margin-top:15px; background-color:#fff;}
.cont dt{ float:left; width:1168px; margin:0 0 0 9px;}
.cont dd{ float:right; width:284px; margin:0 14px 0 0;}
.m-tit{ height:45px; line-height:45px; border-bottom:1px solid #eeeeee;}
.m-tit .tit{ padding:0 0 0 15px; font-size:16px; font-weight:bold; color:#555555; background:url(../images/titbg.png) no-repeat 0 14px;}
.cont dt .m-tit .tit{ float:left; width:100px;}
.cont dt .tab{ float:right;}
.cont dt .tab a{ font-size:14px; color:#333333;}
.cont dt .tab a.hover{ padding:3px 12px; background-color:#ff6600; color:#fff;}
.cont dt .tab i{ padding:0 19px; color:#cccccc;}
.m-softlist{ width:1202px; padding:18px 0 0; overflow:hidden;}
.m-softlist li{ float:left; width:243px; padding:8px 15px; margin:0 23px 17px 0; border:1px solid #eeeeee;  -webkit-box-shadow:1px 1px 3px #f9f9f9; -moz-box-shadow:1px 1px 3px #f9f9f9; box-shadow:1px 1px 3px #f9f9f9;  }
.m-softlist li:hover{ border:1px solid #65bb0a;}
.m-softlist li .tu{ display:block; float:left; width:100px; height:100px; margin:0 11px 0 0;}
.m-softlist li .tu img{ width:100px; height:100px;}
.m-softlist li .name{ height:22px; margin-bottom:9px; overflow:hidden;}
.m-softlist li .name a{ font-size:16px; color:#333333;}
.m-softlist li .name a:hover{ color:#ff6600;}
.m-softlist li .info{ height:30px; line-height:23px; padding:0 0 10px; margin:0 0 6px; color:#333333; white-space:nowrap;}
.m-softlist li .info span{ color:#999999;}
.m-softlist li .down{ padding:6px 17px; border-radius:3px; text-align:center; background-color:#0acd8b; color:#fff;}
.m-softlist li .down:hover{ background-color:#0ddca6;}
.cont dd .s-tit{ clear:both; height:40px; line-height:40px; color:#555555; font-size:16px;}
.f-list li{ float:left; width:80px; height:33px; margin:0 14px 11px 0; overflow:hidden;}
.f-list li a{ display:block; width:80px; height:33px; line-height:33px; font-size:14px; text-align:center; background-color:#f8f8f8;}
.f-list li a:hover,.f-list li a.hover{ background-color:#ff6600; color:#fff; text-decoration:none;}

.page_roid .tspage{ height: 40px; margin: 9px 0 18px; background: none;}
.page_roid .tspage .tsp_count,.tsp_change{ display: none;}
.page_roid .tspage .tsp_nav{ text-align: center;}
.page_roid .tspage .tsp_nav i{ display: inline-block; padding: 0 9px; background-color: #fbfbfb; color: #999; border: 1px solid #e7e7e7; border-radius: 3px;}
.page_roid .tspage .tsp_nav b{ display: inline-block; padding: 0 9px; background-color: #ffa202; color: #fff; border: 1px solid #e7e7e7; border-radius: 3px;}
.page_roid .tspage .tsp_nav a{ display: inline-block; padding: 0 9px; background-color: #fbfbfb; border: 1px solid #e7e7e7; border-radius: 3px; color: #000;}
.page_roid .tspage .tsp_nav a.tsp_more,.page .tspage .tsp_nav a.tsp_next,.page .tspage .tsp_nav a.tsp_end,.page .tspage .tsp_nav a.tsp_home,.page .tspage .tsp_nav a.tsp_prev{ padding: 0; border:none;}
.page_roid .tspage .tsp_nav .tsp_next i{ border:none; padding:0;}
.page_roid .tspage .tsp_nav .tsp_end i{ border:none; padding:0;}
.page_roid .tspage .tsp_nav .tsp_prev i{ border:none; padding:0;}
.page_roid .tspage .tsp_nav .tsp_home i{ border:none; padding:0;}
 
i.wzaa { display: block; height: 40px; line-height: 35px; margin-bottom: 10px; margin-top: 9px; margin-left: 9px;}
i.wzaa a{ display: block; float: left; text-decoration: none; width: 96px; background: none repeat scroll 0 0 #f5f5f5; height: 35px; margin-right: 10px; text-align: center; width: 120px; color: #333;}
i.wzaa a.m_hover,i.wzaa a:hover{ color: #fff; background: none repeat scroll 0 0 #00aaff;}

.m-blph{ clear:both; height:504px; margin:0 0 15px; overflow:hidden;}
.m-blph li{ clear:both; border-bottom:1px solid #eeeeee; overflow:hidden;}
.m-blph .tit{ height:25px;}
.m-blph .tabnav{ height:42px; line-height:42px; border-bottom:1px solid #eeeeee;}
.m-blph .tabnav i{ display:block; float:left; width:50%; text-align:center; font-size:16px;}
.m-blph .tabnav i.hover{ color:#ff6600; border-bottom:1px solid #ff6600;}
.m-blph li .num{ display:block; float:left; width:20px; height:20px; line-height:20px; margin:9px 9px 0 0; text-align:center; font-size:12px; color:#fff; background-color:#b4b4b4;}
.m-blph li.one .num{ background-color:#19b5fe; color:#fff;}
.m-blph li.hover .num{ margin-top:11px;}
.m-blph li .hide{ display:none; height:71px; padding:10px 0;}
.m-blph li .hide a:hover{ text-decoration:none;}
.m-blph li .hide img{ display:block; float:left; width:70px; height:70px; margin:0 10px 0 0;}
.m-blph li .hide .name{ height:24px; line-height:24px; margin:0 0 12px; font-size:16px; color:#333333; overflow:hidden;}
.m-blph li .hide .btn{ display: inline; padding:5px 8px; border-radius:6px; font-size:14px; color:#fff; background-color:#ff6600;}
.m-blph li .show a{ display:block; float:left; width:138px; height:40px; line-height:40px; font-size:15px; }
.m-blph li .show span{ display:block; float:right; width:62px; height:40px; line-height:40px;}
.m-blph li.hover .show{ display:none;}
.m-blph li.hover .hide{ display:block;}

.m-hjtj .tit{ height:40px; line-height:40px; border-bottom:1px solid #eeeeee;}
.m-hjtj .tit span{ display:block; width:89px; height:40px; font-size:16px; text-align:center; border-bottom:1px solid #fe6700;}
.m-hjtj ul{ width:311px; overflow:hidden;}
.m-hjtj ul li{ float:left; width:126px; height:108px; margin:14px 28px 0 0; text-align:center; overflow:hidden;}
.m-hjtj ul li img{ display:block; width:126px; height:87px; margin:0 0 4px;}



#main{ width:1200px; margin:0 auto;zoom:1;}

/**页面当前位置**/
#main-title{ height:40px; line-height:40px; color:#666; background:url(../images/home.jpg) 0px center no-repeat; padding-left:18px;}
#main-title a{ color:#666; font-size:12px; padding:0px 5px;}

/**H标签**/
#title-nav{ height:50px; line-height:50px;}
#title-nav b{ display:inline-block; width:50px; height:50px; float:left; }
#title-nav h2{ display:inline-block; text-decoration:none; color:#ff6600; font-size:20px; height:50px;line-height:50px;  padding-left:20px; float:left;  border-bottom:none}
#title-nav a{ float:right; color:#999; display:inline-block; width:55px; line-height:50px; }
#title-nav a:hover,#footer .main div a:hover,.kfkc ul li a:hover,#pinglun span.ans a:hover,  a:hover,.game_rank div ul li.cur a.pic:hover{ text-decoration:underline; color:#ff6600;}
h3{ white-space:nowrap;height:18px; line-height:18px; padding-left:12px; margin:15px 0px;font-size:16px; color:#666; font-weight:bold; border-left:4px solid #ff6600}
h3 b{ color:#ff6600; font-size:14px; font-weight:bold;}
h3 i{ font-size:16px; color:#666;height:18px; line-height:18px; font-weight:bold; float:left}
h3 a{ float:right; color:#666; font-size:14px;}


/**每日推荐**/
.floatwrap{position:fixed;top:0; z-index:999}
#main #main-left {width: 170px;height: auto;overflow: hidden;border-bottom: none;float: left;background-color: #fff}
#main #main-right {width: 1010px;height: auto;overflow: hidden;float: right;border-left: 0px;position: relative;background-color:#fff;}
#main #main-left p.title {height: 34px;line-height: 34px;background: url(../images/global.png) left top repeat-x;text-align: center;border: 1px solid #dfdfdf;color: #999;border-bottom: 1px solid #dfdfdf;border-right: 0px}
#main #main-left i {background-color: #f9f9f9;display: inline-block;text-decoration: none;width: 168px;text-align: center;height: 40px;line-height: 40px;border: 1px solid #dfdfdf;border-top: none;cursor: pointer;font-style:normal;}
#main #main-left i.cur{width: 167px;border-left: 2px solid #f07800;font-size: 14px;font-weight: bold;background-color: #fff;border-right: 0px}
#main #main-left a {background-color: #f9f9f9;display: inline-block;text-decoration: none;width: 168px;text-align: center;height: 40px;line-height: 40px;border: 1px solid #dfdfdf;border-top: none;cursor: pointer;font-style:normal;}
#main #main-left a.cur{width: 167px;border-left: 2px solid #f07800;font-size: 14px;font-weight: bold;background-color: #fff;border-right: 0px}
#main #main-right p.title {width: 814px;height: 34px;line-height: 34px;background: url(../images/global.png) left top repeat-x;border: 1px solid #dfdfdf;border-left: 0px;}
#main p.title b {width: 60px;height:34px;line-height:34px;display: inline-block;font-weight: normal;padding-left: 20px;color: #999;}
#main p.title b.name {width:200px;margin-right: 30px;position: relative;padding-left:140px;}
#main p.title b.zcd {width:170px; padding-left:40px;}
#main p.title b.time {padding-left:25px; text-align:left}
#main p.title b.down {width: 60px;padding-left: 25px}
#main p.title b.daxiao {padding-left: 30px;}
span.oSpan {height: auto;display: inline-block;border: 1px solid #dbdbdb;border-bottom: none;width: 100px;position: absolute;left: 90px;top: 5px;}
span.oSpan u {display: inline-block;width: 16px;height: 16px;position: absolute;right: 4px;top: 0px;z-index:9999;cursor: pointer;background:url(../images/arr.jpg) left  top no-repeat;}
span.oSpan i {font-size: 12px;border-bottom: 1px solid #dbdbdb;padding-left: 5px;line-height: 20px;height: 20px;width: 95px;display: inline-block;color: #666;background-color: #fff;font-style: normal;cursor: pointer;overflow: hidden;*+float:left;_float:none;}
span.oSpan a {font-size: 12px;border-bottom: 1px solid #dbdbdb;padding-left: 5px;line-height: 22px;height: 22px;width: 95px;overflow: hidden;display: inline-block;color: #666;text-decoration: none;z-index: 999;background-color: #f7f7f7;}
span.oSpan a:hover {text-decoration: none;color: #999;}
#main-right ul {display: none;overflow: hidden;margin-left: 25px;}
#main-right ul.current {display: block}
#main #main-right ul li {height: 40px;line-height: 40px;border-bottom: 1px solid #f7f7f7;float: left;position:relative;width:985px;}
#main #main-right ul li.ghbs {background-color: #FFC;}
#main #main-right ul li a.version {display: inline-block;color: #999;padding: 0px 5px;float: left;width:78px;height:40px;line-height:40px;overflow:hidden;}
#main-right ul li,#main-right ul li a,#main-right ul li i,#main-right ul li u,#main-right ul li span,#main-right ul li b,#main-right ul li font{height: 40px;line-height:40px;}
#main #main-right ul li a.title { color:#333;display: inline-block;width: 300px;overflow: hidden;margin-right: 30px;float: left;}
#main #main-right ul li a.title:hover{ color:#ff6600}
#main #main-right ul li i.star0,#main #main-right ul li i.star1,#main #main-right ul li i.star2,#main #main-right ul li i.star3,#main #main-right ul li i.star4,#main #main-right ul li i.star5,#main #main-right ul li i.star6{
width:110px;height: 30px;line-height: 30px;display: inline-block;overflow: hidden;float: left}
#main #main-right ul li i.star0 {background: url(../images/star.png) 0px 12px no-repeat;}
#main #main-right ul li i.star1 {background: url(../images/star.png) 0px -26px no-repeat;}
#main #main-right ul li i.star2 {background: url(../images/star.png) 0px -62px no-repeat;}
#main #main-right ul li i.star3 {background: url(../images/star.png) 0px -98px no-repeat;}
#main #main-right ul li i.star4 {background: url(../images/star.png) 0px -134px no-repeat;}
#main #main-right ul li i.star5,#main #main-right ul li i.star6 {background: url(../images/star.png) 0px -170px no-repeat;}
#main #main-right ul li b {display: inline-block;width: 125px;margin-left:15px;text-align: center;font-weight: normal;float: left;}
#main #main-right ul li i {display: inline-block;text-align: center;width: 105px;font-size: 12px;font-style: normal;float: left}
#main #main-right ul li u {display: inline-block;text-decoration: none;text-align: center;width: 105px;float: left}
#main #main-right ul li span {display: inline-block;text-decoration: none;text-align: center;width: 105px;float: left;}
#main #main-right p.title {width: 1009px;height: 34px;line-height: 34px;background: url(../images/global.png) left top repeat-x;border: 1px solid #dfdfdf;border-left: 0px;}
#main p.title b {width: 85px;text-align:center;display: inline-block;font-weight: normal;padding-left: 20px;color: #999;}
